{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "text",
        "id": "hero_text",
        "label": "Hello World :D",
      }
    ],
    "presets": []
  }
{% endschema %}

<hgroup id="Hero__Section" class="h-[600px] flex flex-col justify-center">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ shop.name }} Store</h1>
  <p class="mt-6 text-lg leading-8 text-gray-600">{{ shop.description }}</p>
  <p>{{ section.settings.hero_text }}</p>
</hgroup>