<h1>Hello World</h1>

<img src="{{ 'Catto.png' |  asset_url }}" />

{% schema %}
  {
    "name": "Main Index",
    "settings": [],
    "presets": [
      {
        "name": "Main Index"
      }
    ]
  }
{% endschema %}